<%- include("../partials/user/header")%>

  <head>
    <link rel="stylesheet" href="/css/user/checkout.css">
    <style>
.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  border-radius: 8px;
  position: relative;
}

.close-modal {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}
</style>

  </head>

  <div class="container-fluid">
    <div class="checkout-container">
        <!-- LEFT: Address Section -->
        <div class="left-section">
          <div class="address-section">
            <div class="address-header">
              <h4>Select Delivery Address</h4>
              <a href="/add_address?redirect=checkout"><button class="add-address-btn">Add New Address</button></a>
            </div>
            <div class="list-address">
            <%if(!addresses||addresses.length===0){%>
              <div>
                <p>Add your address</p>
              </div>
              <%}else{%>
                <% addresses.forEach(address=> {
                  const isChecked = address.isDefault
                  %>
                  <div class="address-card">
                    <div class="address-radio">
                      <input type="radio" name="selectedAddress" value="<%= address._id %>" <%=isChecked? 'checked' : '' %>>
                    </div>
                    <div class="address-details">
                      <div class="address-name">
                        <strong>
                          <%= address.name %>
                        </strong>
                        <!-- <span class="tag">HOME</span> -->
                      </div>
                      <div>
                        <%= address.building %>, <%= address.area %>, <%= address.state %> - <%= address.pincode %>
                      </div>
                      <div>Ph: <%= address.phone %>
                      </div>
                      <!-- <div class="pay-note">• Pay on Delivery available</div> -->
                      <div class="address-actions">
                        <a href="/edit_address?id=<%=address._id%>&redirect=checkout"><button
                            class="btn btn-sm btn-outline-secondary">EDIT</button></a>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                    <%}%>
              </div>
          </div>
          <!-- payment -->
          <div class="payment-method-section mt-5">
            <div class="payment-header">
              <h4>Select Payment method</h4>
            </div>
            <div class="payment-card mb-3">
              <div class="payment-radio">
                <input type="radio" name="paymentMethod" value="cashOnDelivery" id="cashOnDelivery">
                <label for="cashOnDelivery">Cash On Delivery </label>
              </div>
            </div>
            <div class="payment-card mb-3">
              <div class="payment-radio">
                <input type="radio" name="paymentMethod" value="razorpay" id="razorpay">
                <label for="razorpay">Pay with Razorpay</label>
              </div>
            </div>
            <div class="payment-card mb-3">
              <div class="payment-radio">
                <input type="radio" name="paymentMethod" value="wallet" id="wallet">
                <label for="wallet">Pay using Wallet <span class="text-danger">(Wallet Balance: Rs.<%=walletBalance%>)</span> </label>
              </div>
            </div>
          </div>
          </div>
    <!-- RIGHT: Summary Sidebar -->
    <div class="right-section">
      <div class="summary-card mb-3">
        <h6>DELIVERY ESTIMATES <span class="text-secondary">(Expect your delivery within one week)</span></h6>
        <% cartItems.forEach(item=> { %>
          <div class="delivery-item">
            <img src="/uploads/re-product-image/<%= item.productImage %>" alt="product">
            <div>
              <p class="text-dark text-capitalize"><%=item.productName%> <span class="text-secondary">(<%=item.quantity%>)</span></p>
            </div>
          </div>
          <% }) %>

            <h6>PRICE DETAILS (<%= priceDetails.totalItems %> Items)</h6>
            <div class="price-row">
              <span>Total MRP</span>
              <span>₹<%= priceDetails.totalMRP %></span>
            </div>
            <div class="price-row">
              <span>Delivery</span>
              <span>₹ Free</span>
            </div>
            <div class="price-row">
              <span>Discount</span>
              <span class="text-success">- ₹<%= priceDetails.discount %></span>
            </div>
             <div class="price-row">
              <span>Coupon Applied</span>
              <span class="text-success" id="couponDiscount">- ₹0</span>
            </div>
            <hr>
            <div class="price-total mb-5">
              <span>Total Amount</span>
              <span id="finalAmount">₹<%= priceDetails.finalAmount %></span>
            </div>
            <div id="submitButton">
              <div id="errorMessage" class="text-danger"></div>
            <button class="btn btn-danger mt-0" id="placeOrderBtn">PLACE ORDER</button>
          </div>
      </div>
      <!-- coupons -->
      <div class="summary-card">
        <div class="coupon-header d-flex justify-content-between">
  <h6>COUPONS</h6>
  <a href="#" id="viewCoupons" class="text-danger">see all coupons</a>
  </div>
  <% applicableCoupon.forEach((coupon) => { %>
    <div class="coupon-box">
      <div class="coupon-info">
        <h5 class="coupon-name text-capitalize"><%= coupon.name %></h5>
        <p class="coupon-code">Code: <strong><%= coupon.code %></strong></p>
        <p class="coupon-expiry">Expire on: <%= coupon.endDate.toDateString() %></p>
        
        <% if (coupon.offerType === "percentage") { %>
          <p class="coupon-offer"><%= coupon.offerPercentage %>% Off!!</p>
        <% } %>

        <% if (coupon.offerType === "flat") { %>
          <p class="coupon-offer">Rs.<%= coupon.flatOffer %> Off!!</p>
        <% } %>
      </div>

      <div class="coupon-actions">
        <a href="#" class="apply-btn" data-cartId="<%=cartData._id%>" data-couponId="<%=coupon._id%>">Apply Coupon</a>
         <a href="#" class="remove-btn" data-cartId="<%=cartData._id%>" data-couponId="<%=coupon._id%>">Remove Coupon</a>
      </div>
    </div>
  <% }) %>
</div>
    </div>
  </div>
</div>

<!-- view coupon modal -->
<div id="couponModal" class="modal-overlay">
  <div class="modal-content">
    <span class="close-modal">&times;</span>
    <h5>Available Coupons</h5>
    <div id="couponList">
      <% if (currentCoupons.length === 0) { %>
        <p>No coupons available.</p>
      <% } else { %>
        <% currentCoupons.forEach(coupon => { %>
          <div class="coupon-item coupon-box">
            <div class="coupon-info">
        <h5 class="coupon-name text-capitalize text-success"><%= coupon.name %></h5> 
        <p class="coupon-code">Code: <strong><%= coupon.code %></strong></p>
        <p class="coupon-expiry text-dark">Expire on: <%= coupon.endDate.toDateString() %></p>
        
        <% if (coupon.offerType === "percentage") { %>
          <p class="coupon-offer">Save <%= coupon.offerPercentage %>% on orders <%=coupon.minimumPrice%> & above !!</p>
        <% } %>

        <% if (coupon.offerType === "flat") { %>
          <p class="coupon-offer">Save Rs.<%= coupon.flatOffer %> on orders <%=coupon.minimumPrice%> & above !!</p>
        <% } %>
      </div>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
</div>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  document.getElementById('placeOrderBtn').addEventListener('click', async function(event){
    const selectedAddress = document.querySelector('input[name="selectedAddress"]:checked')
    const selectedPayment = document.querySelector('input[name="paymentMethod"]:checked')
    const errorMessage = document.getElementById('errorMessage')

    if(!selectedAddress){

      errorMessage.style.display = 'block'
      errorMessage.innerHTML = 'Select your address'
      return 

    }else if(!selectedPayment){

      errorMessage.style.display = 'block'
      errorMessage.innerHTML = 'Select your payment method'
      return
      
    }

    errorMessage.style.display = 'none'
    errorMessage.innerHTML = ''
    
    const addressId = selectedAddress.value
    const paymentMethod = selectedPayment.value

// place order
try {
  const res = await fetch('/place_order',{
    method: 'post',
    headers: {'Content-Type':'application/json'},
    body: 
      JSON.stringify({
        addressId: addressId,
        paymentMethod: paymentMethod
      })
  })

  const data = await res.json()

  if(!data.success){
    if(data.redirectUrl){
      setTimeout(()=> window.location.href = data.redirectUrl, 2000)
    } else{
      showPopup(data.message, 'error')
    }
    return
  }

   if(paymentMethod === 'cashOnDelivery'){
      window.location.href = data.redirectUrl
      return
    }

    if(paymentMethod === 'wallet'){
      window.location.href = data.redirectUrl
      return
    }

    if(paymentMethod === 'razorpay'){
      const options = {
        key: data.key_id,
        amount: data.amount,
        currency: "INR",
        order_id: data.razorpayOrderId,
        name: "Lunexa Fashion",
        description: "Order Payment",
        handler: async function(response){
          const verifyRes = await fetch('/verify_payment', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                razorpay_order_id: response.razorpay_order_id,
                razorpay_payment_id: response.razorpay_payment_id,
                razorpay_signature: response.razorpay_signature,
                addressId,
                retry: false,
                orderId: data.orderId
            })
          })
          const verifyData = await verifyRes.json()
          window.location.href = verifyData.redirectUrl 
        },
        prefil: {
          name: "", 
          email: "", 
          contact: ""
        },
        theme: {
          color: "#3399cc"
        }
      }

      const rzp = new Razorpay(options)
      rzp.on('payment.failed', async function (response){
        try {
          const failedRes = await fetch('/payment_failure', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
              razorpay_order_id: response.error.metadata.order_id,
              razorpay_payment_id: response.error.metadata.payment_id,
              addressId
            })
          })
          const failedData = await failedRes.json()
          window.location.href = failedData.redirectUrl
        } catch (error) {
          console.error("Failed to handle payment failure:", err);
          window.location.href = '/pageNotFound';
          // window.location.href = '/order_failure'
        }
      })
      rzp.open()
    }
  } catch(error){
    console.error(error)
    showPopup('Something went wrong. Try again.', 'error')
  }

  })

// apply coupon
document.querySelectorAll('.apply-btn').forEach((btn) => {
  btn.addEventListener('click', (event) => {
    event.preventDefault();

    const cartId = btn.dataset.cartid;
    const couponId = btn.dataset.couponid;

    fetch('/apply_coupon', {
      method: "POST",
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ cartId, couponId })
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.success) {
          showPopup(data.message, 'success');
          document.getElementById('couponDiscount').innerHTML = `-₹${data.discountAmount}`;
          document.getElementById('finalAmount').innerHTML = data.payableAmount;
        } else {
          showPopup(data.message, 'error');
        }
      })
      .catch((err) => {
        console.log(err);
      });
  });
});



// remove coupon
document.querySelectorAll('.remove-btn').forEach((btn)=>{
  btn.addEventListener('click', (event)=>{
    event.preventDefault()
    const cartId = btn.dataset.cartid
    const couponId = btn.dataset.couponid

    fetch('/remove_coupon', {
      method: "post",
      headers: {'Content-Type': 'application/json' },
      body: JSON.stringify({cartId, couponId})
    })
    .then((res)=>res.json())
    .then((data)=>{
      if(data.success){
        showPopup(data.message, 'success')
        document.getElementById('couponDiscount').innerHTML = `-₹${data.discountAmount}`
        document.getElementById('finalAmount').innerHTML = data.payableAmount
      }
      else{
        showPopup(data.message, 'error')
      }
    })
    .catch((err)=>{
      console.error(err)
    })
  })
})

  function showPopup(message, type) {
    const popup = document.createElement('div')
    popup.textContent = message
    popup.style.position = 'fixed'
    popup.style.top = '20px'
    popup.style.left = '20px'
    popup.style.padding = '12px 20px'
    popup.style.borderRadius = '5px'
    popup.style.color = '#fff'
    popup.style.zIndex = '9999'
    popup.style.backgroundColor = type === 'error' ? '#a80810' : '#000'
    popup.style.boxShadow = '0 2px 6px rgba(0,0,0,0.2)'
    document.body.appendChild(popup)

    setTimeout(() => {
      popup.remove()
    }, 4000)
  }

</script>

<script>
  //coupon modal

document.addEventListener('DOMContentLoaded', () => {
  const modal = document.getElementById('couponModal')
  const openLink = document.getElementById('viewCoupons')
  const closeBtn = document.querySelector('.close-modal')

  openLink.addEventListener('click', (e) => {
    e.preventDefault();
    modal.style.display = 'flex'
  });

  closeBtn.addEventListener('click', () => modal.style.display = 'none')
  window.addEventListener('click', (e) => { if (e.target === modal) modal.style.display = 'none'; })
})
</script>
  <!-- footer -->
  <%- include("../partials/user/footer")%>
    <script src="js/jquery.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/SmoothScroll.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="js/script.min.js"></script>
    </body>

    </html>