<%- include("../partials/user/header")%>

<div class="container-fluid d-flex">
    
 <div class="sidebar">
    <%- include("../partials/user/profileSidebar")%>
  </div>

    <div class="container mt-5">
    <h4>My Wallet</h4>
    <div class="wallet-balance my-4 p-3 bg-light border rounded">
        <h4>Available Balance</h4>
        <h2 class="text-success">₹<%=wallet.balance%></h2>
    </div>

    <h4>Transaction History</h4>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <% transactions.forEach(tx => { %>
                <tr>
                    <td><%= new Date(tx.date).toLocaleDateString() %></td>
                    <td>
                        <% if (tx.type === 'credit') { %>
                            <span class="text-success">Credit</span>
                        <% } else { %>
                            <span class="text-danger">Debit</span>
                        <% } %>
                    </td>
                    <td>
                        <% if (tx.type === 'credit') { %>
                            <span class="text-success">+₹<%= tx.amount.toFixed(2) %></span>
                        <% } else { %>
                            <span class="text-danger">-₹<%= tx.amount.toFixed(2) %></span>
                        <% } %>
                    </td>
                    <td class="text-capitalize"><%=tx.description%> 
                    <% if (tx.orderId) { %>
                        <span>(Order Id:<%= tx.orderId%>)</span>
                    <% } %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
</div>
 <div class="pagination d-flex justify-content-center mt-4">
  <% if (currentPage > 1) { %>
    <a href="/wallet?page=<%= currentPage - 1 %>" class="btn btn-outline-secondary mx-1">&laquo; Previous</a>
  <% } %>

  <% for (let i = 1; i <= totalPages; i++) { %>
    <% if (i === currentPage) { %>
      <span class="btn  mx-1"><%= i %></span>
    <% } else { %>
      <a href="/wallet?page=<%= i %>" class="btn btn-outline-secondary mx-1"><%= i %></a>
    <% } %>
  <% } %>

  <% if (currentPage < totalPages) { %>
    <a href="/wallet?page=<%= currentPage + 1 %>" class="btn btn-outline-secondary mx-1">Next &raquo;</a>
  <% } %>
</div>



 <%- include("../partials/user/footer")%>
   <script src="js/jquery.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/SmoothScroll.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
     crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
   <script src="js/script.min.js"></script>
 </body>
 
 </html>